@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.translation-history {
  .max-items {
    color: silver;
    font-size: 0.5em;
    font-weight: 300;
    margin-left: 10px;
  }
  .translations {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    border-radius: 0.5em;
    .translation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: white;
      padding: 1em;
      margin: 0.5em;
      border-radius: 0.5rem;
    }
  }
}

.translate-btn {
  &:hover .kbd-shortcut {
    color: white !important;
  }
  .kbd-shortcut {
    font-size: 0.6em;
  }
}

.my-toast {
  position: absolute;
  z-index: 1;
  height: 40px;

  display: flex;
  flex-direction: column;

  .arrow-icon {
    transform: translateX(12px); //move right (to position above bang-icon)
  }

  .box {
    transform: translateY(-9px); //move up (account for whitespace below arrow)

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    padding: 5px 10px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);

    .bang-icon {
      color: orange;
      font-size: x-large;
      margin-right: 10px;
    }
    .text {
      color: black;
      font-size: 14px;
    }
  }
}

.display-none {
  display: none;
}
