@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
}

form {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5em;
  label {
    display: block;
  }
  button {
    width: 27%;
  }
  input {
    width: 70%;
  }
}

label {
  margin-right: 0.5rem;
}

input,
button {
  font-size: 15px;
  padding: 0.5em;
  border-radius: 0.3em;
  border: solid black 1px;
}

body {
  font-family: "Poppins", sans-serif;
}

hr {
  margin-top: 3rem;
}

h2 {
  margin: 2rem 0;
}

.translation-history {
  .max-items {
    color: silver;
    font-size: 0.5em;
    font-weight: 300;
    margin-left: 10px;
  }
  .translations {
    display: flex;
    flex-direction: column;
    background-color: silver;
    border-radius: 0.5em;
    .translation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: white;
      padding: 1em;
      margin: 0.5em;
      border-radius: 0.5rem;
    }
  }
}

.display-none {
  display: none;
}
