@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
}

form {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5em;
  label {
    display: block;
  }
  button {
    width: 27%;
  }
  input {
    width: 70%;
  }
}

label {
  margin-right: 0.5rem;
}

input,
button {
  font-size: 15px;
  padding: 0.5em;
  border-radius: 0.3em;
  border: solid black 1px;
}

body {
  font-family: "Poppins", sans-serif;
}

hr {
  margin-top: 3rem;
}
